<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Your Leave has been Approved!</h1>
  <p>
    Hello 
  </p>
  <p>
    We are pleased to inform you that your leave request has been approved.
  </p>
  <p>
    Leave Details:
    <ul>
      <li><strong>Start Date:</strong> <%= @leave.start_date %></li>
      <li><strong>End Date:</strong> <%= @leave.end_date %></li>
      <!-- Add more leave details here as needed -->
    </ul>
  </p>
  <p>
    If you have any questions or concerns, please feel free to contact us.
  </p>
  <p>
    Thank you!
  </p>
</body>
</html>